<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card">
      <div class="card-content">
        <div class="col s8">
          <span class="card-title">Events</span>
        </div>
        <div class="input-field col s4">
          <select [(ngModel)]="eventFilter" materialize="material_select">
            <option value="all">All</option>
            <option value="upcoming">Upcoming</option>
            <option value="past">Past</option>
          </select>
          <label>Filter events</label>
        </div>
        <ul *ngIf="events" class="collection">
          <li class="collection-item" *ngFor="let event of events | eventDate:eventFilter">
            <div class="">
              <a routerLink="/events/{{event.$key}}">{{event.name | titlecase}}</a>
              <span class="secondary-content">{{event.date | date}}</span><br>
              <span class="grey-text text-darken-1"><small>location:</small> {{event.location | titlecase}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
