<div class="row">
  <div class="col s12 m10 offset-m1">
    <div *ngIf="member" class="card horizontal detail-card">
      <div class="card-image">
        <img src="{{member?.photoURL}}">
      </div>
      <div class="card-content fg-column">
        <div class="fg-row">
          <div class="fc-expand">
            <span *ngIf="user?.uid === member?.$key" class="card-title grey-text text-darken-4">{{member?.displayName || 'Update your profile to add a name'}}<i class="material-icons right activator">edit</i></span>
            <span *ngIf="user?.uid !== member?.$key" class="card-title grey-text text-darken-4">{{member?.displayName || 'No profile name available'}}</span>
            <hr>
          </div>
        </div>
        <div class="fg-row fg-between">
          <div class="fc-40 fc-start">
            <div class="info-section fg-row grey-text text-darken-2">
              <div class="fc-auto">
                <p class="text-right">Email</p>
                <p class="text-right">Role</p>
                <p class="text-right">Member Since</p>
                <p class="text-right">Events Attending</p>
              </div>
              <div class="fc-auto spacer">
                <p> - </p>
                <p> - </p>
                <p> - </p>
                <p> - </p>
              </div>
              <div class="fc-auto">
                <p>{{member?.email}}</p>
                <p>{{member?.role | titlecase}}</p>
                <p>{{member?.joined | date}}</p>
                <p *ngIf="events">{{(events | eventDate:'upcoming').length}}</p>
              </div>
            </div>
          </div>
          <div class="fc-expand fc-start">
            <div class="bio-section grey-text text-darken-2">
              <p *ngIf="user?.uid === member?.$key">{{member?.bio || 'Update your profile to add a bio'}}</p>
              <p *ngIf="user?.uid !== member?.$key">{{member?.bio || 'No bio available'}}</p>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
            </div>
          </div>
        </div>
        <hr>
        <div class="fg-row">
          <div class="fc-expand fc-start">
            <h6>Upcoming Climbing Trips</h6>
            <ul *ngIf="events" class="collection">
              <li class="collection-item fg-row fg-between" *ngFor="let event of events | eventDate:'upcoming'">
                <div class="fc-expand fg-row grey-text text-darken-2">
                  <a class="fc-30" routerLink="/events/{{event.$key}}">{{event.name | titlecase}}</a>
                  <span class="fc-30"><small>location:</small> {{event.location | titlecase}}</span>
                  <span class="fc-30 right-align"><small>date:</small> {{event.date | date}}</span>
                </div>
                <div class="fc-auto spacer">
                </div>
                <button *ngIf="(user?.uid === member?.$key) && (event | attending:user?.uid)" type="button" class="btn waves-effect waves-light secondary-content" (click)="unAttend(event?.$key)">cancel RSVP
                  <i class="material-icons right">done</i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Edit Profile<i class="material-icons right">close</i></span>
        <app-member-edit [member]="member"></app-member-edit>
      </div>
    </div>
  </div>
</div>
