.detail-card {
  min-height: 400px;
}

.info-section {
  margin: 5px 20px;
}
.bio-section {
  margin: 5px 20px;
}

.card-image {
  padding: 24px;
  img {
    max-width: 170px;
  }
}

i.activator {
  cursor: pointer;
}

.card-content {
  width: 100%;
}
