.detail-card {
  margin-top: 25px;
  min-height: 400px;
}

.info-section {
  margin: 5px 20px;
}
.bio-section {
  margin: 5px 20px;
}

.card-image {
  padding: 24px;
}

i.activator {
  cursor: pointer;
}
