.page-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#loginModal {
  width: 400px;
  height: 500px;
  hr {
    width: 100%;
  }
  .modal-footer {
    padding: 30px;
  }
}
