.page-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.background img {
  width: 100%;
}

main {
  padding-top: 25px;
  flex: 1 0 auto;
  background-image: url('http://rvproj.files.wordpress.com/2012/06/img_0453.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#loginModal {
  width: 400px;
  height: 500px;
  hr {
    width: 100%;
  }
  .modal-footer {
    padding: 30px;
  }
}

.chip {
  cursor: pointer;
}
