<div class="demo-container">
  <mdl-layout #mdlNavBar="mdlLayout" mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
      <mdl-layout-header-row mdl-shadow="4">
        <mdl-layout-title routerLink="">Hobby Horse</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <mdl-chip class="user-chip" *ngIf="user" mdl-label="{{user?.displayName || user?.email}}">
          <img *ngIf="user?.photoURL" mdl-chip-contact src="{{user?.photoURL}}">
        </mdl-chip>
        <button *ngIf="!user" #editUserButton mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple (click)="editUserDialog.show()">Login</button>
        <button *ngIf="user" mdl-button mdl-button-type="raised" mdl-colored="primary" (click)="logout()" mdl-ripple>Logout</button>

      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title routerLink="" (click)="mdlNavBar.closeDrawer()">Hobby Horse</mdl-layout-title>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="about" (click)="mdlNavBar.closeDrawer()">About</a>
      </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class="fg-column">
      <router-outlet></router-outlet>
      <mdl-layout-spacer></mdl-layout-spacer>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            The unofficial Hobby Horsing Community Site
          </div>
        </div>
        <div class="mdl-mini-footer__right-section">
          <ul class="mdl-mini-footer__link-list">
            <li><a routerLink="about">About</a></li>
          </ul>
        </div>
      </footer>
    </mdl-layout-content>
 </mdl-layout>
</div>



<mdl-dialog #editUserDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}">
  <h3 class="mdl-dialog__title">Login</h3>
  <div class="mdl-dialog__content">
    <form [formGroup]="loginForm">
      <mdl-textfield formControlName="email" type="email" label="Email" floating-label></mdl-textfield>
      <mdl-textfield formControlName="password" type="password" label="Password" floating-label></mdl-textfield>
    </form>
  </div>
  <div class="mdl-dialog__actions fg-column">
    <div class="fg-row fg-between">
      <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
      <button mdl-button [disabled]="!loginForm.valid" (click)="loginEmailPass(); editUserDialog.close();" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Login</button>
    </div>
    <hr>
    <button mdl-button [disabled]="!loginForm.valid" mdl-button-type="raised" mdl-colored="primary" (click)="createAccount(); editUserDialog.close();" mdl-ripple>Create Account</button>
    <br>
    <button class="fg-row fg-around" mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="loginGoogle(); editUserDialog.close();" mdl-ripple>
        <i class="fa fa-lg fa-google" aria-hidden="true"></i>
        <span>Login With Google</span>
    </button>
  </div>
</mdl-dialog>
