<div class="page-layout">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a materialize="sideNav"  [materializeParams]="[{closeOnClick: true}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <div class="col s12">
          <a routerLink="" class="breadcrumb">Group Mgmt</a>
          <a *ngFor="let page of currentPage; let i = index" routerLink="{{page}}" class="breadcrumb">{{page | breadcrumb:i}}</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <div *ngIf="user" class="chip" routerLink="/members/{{user.uid}}">
                <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="profile picture of {{user.displayName || user.email}}">
                {{user.displayName || user.email}}
              </div>
            </li>
            <li><a *ngIf="!user" class="waves-effect waves-light btn" (click)="openModal()">Login <i class="material-icons right">cloud</i></a></li>
            <li><a *ngIf="user" class="waves-effect waves-light btn" (click)="logout()">Logout <i class="material-icons right">cloud</i></a></li>
          </ul>
        </div>
        <ul id="slide-out" class="side-nav">
          <li class="center-align">
            <a routerLink="">
              <h5>Group Mgmt</h5>
            </a>
          </li>
          <li *ngIf="user">
            <div class="userView">
              <a routerLink="/members/{{user.uid}}"><img class="circle" src="{{user.photoURL}}"></a>
              <a routerLink="/members/{{user.uid}}"><span class="black-text name">{{user.displayName}}</span></a>
              <a routerLink="/members/{{user.uid}}"><span class="black-text email">{{user.email}}</span></a>
            </div>
          </li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Links</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="members">Members</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">An Enthusiast Club Community Site</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <p><a class="grey-text text-lighten-4 right" routerLink="about">About</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="loginModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="loginModal">
  <div class="modal-content">
    <h4>Login</h4>
    <form [formGroup]="loginForm">
      <div class="input-field col s6">
        <input formControlName="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class=" fg-column">
      <div class="fg-row fg-between">
        <button class="modal-action modal-close waves-effect waves-lift btn-flat" (click)="editUserDialog.close()">Cancel</button>
        <button class="modal-action modal-close waves-effect waves-lift btn" [disabled]="!loginForm.valid" (click)="loginEmailPass()">Login</button>
      </div>
      <hr>
      <button class="modal-action modal-close waves-effect waves-lift btn" [disabled]="!loginForm.valid" (click)="createAccount()">Create Account</button>
      <br>
      <button class="modal-action modal-close waves-effect waves-lift btn light-blue darken-1" (click)="loginGoogle()">
        <i class="fa fa-lg fa-google left" aria-hidden="true"></i>
        <span>Login With Google</span>
      </button>
    </div>
  </div>
</div>
