<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card">
      <div class="card-content">
        <button *ngIf="signedInMember?.role !== 'admin'" class="btn waves-effect waves-light right" (click)="addAdmin(signedInMember.$key)">Become Admin</button>
        <span class="card-title">Admin Dashboard</span>
        <div *ngIf="signedInMember?.role === 'admin'" class="admin-section">
          <ul materialize="tabs" [materializeParams]="[{swipeable: true}]" id="tabs-swipe-demo" class="tabs">
            <li class="tab col s6"><a href="#members">Members</a></li>
            <li class="tab col s6"><a href="#events">Events</a></li>
          </ul>
          <div id="members" class="col s12">
            <div class="fg-row title-bar">
              <span class="fc-30">Member</span>
              <span class="fc-30">Role</span>
              <span class="fc-30">Admin</span>
              <!-- <span class="fc-expand right-align"></span> -->
            </div>
            <ul class="collection">
              <li class="collection-item" *ngFor="let member of members">
                <div class="fg-row">
                  <a  class="fc-30" routerLink="/members/{{member.$key}}">{{member.displayName || member.email}}</a>
                  <span class="fc-30">{{member.role | titlecase}}</span>
                  <div class="switch fc-30">
                    <label>
                      <input [checked]="member.role === 'admin'" (change)="toggleAdmin($event.target.checked, member.$key)" type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                  <div class="fc-expand right-align">
                    <a class="btn-flat btn-floating waves-effect waves-light" (click)="deleteMember(member)"><i class="material-icons left grey-text text-darken-2">delete</i></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="events" class="col s12">
            <div class="fg-row title-bar">
              <span class="fc-30">Event</span>
              <span class="fc-30">Event Date</span>
              <div class="input-field fc-expand filter-select">
                <select [(ngModel)]="eventFilter" materialize="material_select">
                  <option value="all">All</option>
                  <option value="upcoming">Upcoming</option>
                  <option value="past">Past</option>
                </select>
                <label>Filter events</label>
              </div>
            </div>
            <ul *ngIf="events" class="collection">
              <li class="collection-item" *ngFor="let event of events | eventDate:eventFilter">
                <div class="fg-row">
                  <div class="fc-30">
                    <a routerLink="/events/{{event.$key}}">{{event.name | titlecase}}</a><br>
                    <span class="grey-text text-darken-1"><small>location:</small> {{event.location | titlecase}}</span>
                  </div>
                  <div class="fc-30">
                    <br>
                    <span class="grey-text text-darken-1">{{event.date | date}}</span>
                  </div>
                  <div class="fc-expand right-align">
                    <a class="btn-flat btn-floating waves-effect waves-light" (click)="editEvent(event)"><i class="material-icons left grey-text text-darken-2">edit</i></a>
                    <a class="btn-flat btn-floating waves-effect waves-light" (click)="deleteEvent(event)"><i class="material-icons left grey-text text-darken-2">delete</i></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="eventEditModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="eventEditModal">
  <div class="modal-content">
    <h4>Edit Event</h4>
    <app-event-edit *ngIf="eventToEdit" [event]="eventToEdit" [user]="signedInMember" (closeSender)="closeEditForm()"></app-event-edit>
    <!-- <form [formGroup]="editEventForm">
      <div class="row">
        <div class="input-field col s5">
          <input id="name" type="text" class="validate" formControlName="name" required>
          <label for="name">Event Name</label>
        </div>
        <div class="input-field col s5">
          <input id="location" type="text" class="validate" formControlName="location" required>
          <label for="location">Event Location</label>
        </div>
        <div class="input-field col s2">
          <input id="date" materialize="pickadate" type="date" class="datepicker" formControlName="date">
          <label for="date">Event Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" formControlName="description" required></textarea>
          <label for="description">Event Description</label>
        </div>
      </div>
    </form> -->
  </div>
  <!-- <div class="modal-footer">
    <div class="fg-row fg-between">
      <button class="modal-action modal-close waves-effect waves-lift btn-flat">Cancel</button>
      <button class="modal-action modal-close waves-effect waves-lift btn" [disabled]="!editEventForm.valid" (click)="updateEvent()">Save Changes</button>
    </div>
  </div> -->
</div>
