<div class="row">
  <div class="col s12 m3 offset-m1">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Filter Members</span>
        <div class="input-field">
          <select [(ngModel)]="memberFilter" materialize="material_select">
            <option value="all">All</option>
            <option value="admin">Admins</option>
            <option value="nonAdmin">Non Admins</option>
          </select>
          <div *ngIf="members" class="fg-row fg-between">
            <div class="fc-auto">
              <h6>Members:</h6>
              <h6>Admins:</h6>
              <h6>Non Admins:</h6>
            </div>
            <div class="fc-auto">
              <h6>{{members?.length}}</h6>
              <h6>{{(members | memberRole:'admin').length}}</h6>
              <h6>{{(members | memberRole:'nonAdmin').length}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <ul *ngIf="members" class="collection">
      <li class="collection-item avatar" *ngFor="let member of members | memberRole:memberFilter">
        <img (click)="goToDetail(member)" src="{{member.photoURL}}" alt="" class="circle">
        <div class="fg-row">
          <span class="title fc-30">{{member.displayName || member.email}}</span>
          <div class="fc-auto fg-row grey-text">
            <div class="fc-auto">
              <p class="text-right">Role</p>
              <p class="text-right">Member Since</p>
            </div>
            <div class="fc-auto spacer">
              <p> - </p>
              <p> - </p>
            </div>
            <div class="fc-auto">
              <p>{{member.role | titlecase}}</p>
              <p>{{member.joined | date}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
