/* You can add global styles to this file, and also import other style files */

//
// FlexBox helper classes
//
.fg-column {
  display: flex;
  flex-direction: column;
}

.fg-row {
  display: flex;
  flex-direction: row;
}

.fg-center-center {
  justify-content: center;
  align-content: center;
}

.fg-between {
  justify-content: space-between;
  align-items: center;
}
.fg-around {
  justify-content: space-around;
  align-items: center;
}

.fg-stretch {
  align-items: stretch;
}

.fc-expand {
  flex-grow: 2;
}

.fc-auto {
  flex: 0 1 auto;
}


//
//


.left {
  float: left;
}

.right {
  float: right;
}
