/* You can add global styles to this file, and also import other style files */

// SASS variables override

$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/";
@import "../node_modules/materialize-css/sass/components/color";


$primary-color: color("blue-grey", "darken-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("orange", "darken-2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


@import '../node_modules/materialize-css/sass/materialize';


//
// FlexBox helper classes
//
.fg-column {
  display: flex;
  flex-direction: column;
}

.fg-row {
  display: flex;
  flex-direction: row;
}

.fg-center-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fg-between {
  justify-content: space-between;
  align-items: center;
}
.fg-around {
  justify-content: space-around;
  align-items: center;
}

.fg-stretch {
  align-items: stretch;
}

.fc-expand {
  flex-grow: 2;
}

.fc-auto {
  flex: 0 1 auto;
}

.fc-start {
  align-self: flex-start;
}

.fc-30 {
  flex: 0 1 30%;
}
.fc-40 {
  flex: 0 1 40%;
}


.spacer {
  width: 40px;
  text-align: center;
}

//
//


.loading-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}




.tabs-content.carousel .carousel-item {
  height: 100%;
}

.tabs-content.carousel {
  height: 600px;
  overflow-y: scroll;
}
